@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap');
 */
@layer components {
    .tulisan {
        font-family: "Plus Jakarta Sans";
    }
    @font-face {
      font-family: 'Plus Jakarta Sans';
      src: url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap');
    }
}